.jumbotron {
	background-image: url(../images/banner.png);
	background-size: cover; 
	color: black;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0px 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}

.footer-icon {
	padding-right: 10px;	
}

.card-hotel {
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.tab-content {
	padding-top: 10px;
}

.card-header {
	background-color: white;
    color: blue;
}

.but {
	padding-right: 20px;
	margin-left: 1%;
    padding-right: 7%;
}