.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-icon {
  padding-right: 10px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.tab-content {
  margin-top: 10px;
  margin-bottom: 0px; }

.card-header {
  background-color: white;
  color: blue; }

.but {
  margin-left: 1%;
  padding-right: 7%; }
